header{
    text-align: center;
    background-color: rgba(128, 128, 128, 0.658);
    border: 23cm;
    padding: 10px  10px ;
    font-size: x-large;
}
section{
    font-size:xx-large;
}
h2{
    font-size:xx-large;
}